<div class="h-100vh light-mode default-sidebar">

    <div class="page">
        <div class="page-content">
            <div class="container text-center ">
                <!-- <img src="../../assets/images/svgs/404.svg" alt="img" class="w-30 mb-6"> -->
                <div class="display-1 text-primary mb-5 font-weight-bold">404</div>
                <h1 class="h3  mb-3 font-weight-bold">Lo sentimos, ha ocurrido un error. No se encontró la página solicitada</h1>
                <p class="h5 font-weight-normal mb-7 leading-normal">Es posible que haya escrito mal la dirección o que la página ya no exista.</p>
                <a class="btn btn-primary"  routerLink="/"><i class="fe fe-arrow-left-circle m-1"></i>Iniciar Sesión</a>
            </div>
        </div>
    </div>
    
</div>