/* You can add global styles to this file, and also import other style files */

/* Customized SCSS files*/
@import "assets/scss/style.scss";
@import "assets/plugins/web-fonts/icons.css";
@import "assets/plugins/web-fonts/font-awesome/font-awesome.min.css";
@import "assets/plugins/web-fonts/plugin.css";
@import "assets/css/animated.css";
// @import "assets/css/dark.scss";
@import "assets/css/skins.css";

// boxed
@import "assets/css/boxed.css";
@import "assets/css/dark-boxed.css";



// /* Importing Bootstrap SCSS file. */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~material-icons/iconfont/material-icons.scss";
// perfext axrollbar
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// ng-select
@import "~@ng-select/ng-select/themes/default.theme.css";
// owl carousel
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~leaflet/dist/leaflet.css';
@import "~chartist/dist/scss/chartist.scss";
// table
@import "~intl-tel-input/build/css/intlTelInput.css";
@import "~simple-datatables/dist/style.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
// @import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
//calendar
@import "~flatpickr/dist/flatpickr.css";
@import "~angular-calendar/scss/angular-calendar.scss";

//dropzone
@import '~dropzone/dist/min/dropzone.min.css';

@import "~angular-notifier/styles.scss";
@import '~animate.css/animate.min.css';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import '~angular-archwizard/styles/archwizard.css';
@import '~ngx-toastr/toastr.css';

@import '~ng-wizard/themes/ng_wizard_theme_arrows.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_dots.min.css';

@import "./assets/css/sidemenu.css";


ng-select {
  padding: 0 !important;
  border: none !important;

  ng-dropdown-panel {
    border: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
  }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked,
.ng-option.ng-option-selected.ng-option-marked {
  color: #fff !important;
  background-color: #ed1b2f !important;
}

.dropdown-menu {
  height: max-content;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-container {
  z-index: 99999 !important;
}

.modalFlats {
  z-index: 100;
}

.swal2-container {
  z-index: 999999 !important;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  z-index: 99999999 !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  z-index: 999999 !important;
}

.ps__rail-y {
  left: initial !important;
  right: 0;
}

.dropup .dropdown-toggle::after {
  display: none;
}

.boxed {
  .dropdown-menu {
    left: initial !important;
    right: 0;
  }
}

.mat-tooltip {
  text-transform: uppercase;
  font-size: 100% !important;
}

// .mat-step-header .mat-step-icon-selected {
//     background-color: rgb(200, 15, 30); 
// }

.margin-s {
  margin: 0% !important;
}

.mat-step-header .mat-step-icon-state-edit {
  background-color: rgb(75, 130, 45);
  ;
}

.multiline-tooltip {
  white-space: pre;
  font-family: monospace;
}

.swal2-styled.swal2-confirm.btn.btn-green {
  border: 0 !important;
  border-radius: .25em !important;
  font-size: 1em !important;
  color: #fff !important;
  background-color: #4b822d !important;
  border-color: #4b822d !important;
  box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.5) !important;

}
.mat-dialog-container{
  padding: 0% !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
     padding: 0; 
}