<div class="page-header">

  <div class="page-leftheader">
    <div style="display: flex; align-items: center;">
      <h4 class="page-title" style="width:300px">Registro de Productos</h4>
    </div>
  </div>

  <div class="page-rightheader ms-auto d-lg-flex d-none">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"
            width="24">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
            <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
          </svg><span class="breadcrumb-icon"> Home</span></a>
      </li>
      <li class="breadcrumb-item">VP Finanzas & Transformación</li>
      <li class="breadcrumb-item">Productos Financieros</li>
      <li class="breadcrumb-item">Registro</li>
    </ol>
  </div>

</div>

<div class="row row-deck">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">

            <div class="contenedor-barra-filtros">
              <div class="barra-filtros-alineada">
                <!-- 🔍 Buscador -->
                <div class="bloque-control campo-busqueda">
                  <mat-form-field appearance="outline" class="form-busqueda">
                    <mat-label>Buscar en Deuda</mat-label>
                    <input matInput autocomplete="off" (keyup)="applyFilter($event)" />
                  </mat-form-field>
                </div>

                <!-- 📅 Inicio Vigencia -->
                <div class="bloque-control">
                  <label class="bloque-label">F. Inicio Vigencia</label>
                  <div class="bloque-campos">
                    <mat-form-field appearance="outline" class="campo-fecha">
                      <mat-label>Desde</mat-label>
                      <input matInput [matDatepicker]="pickerVigenciaDesde" 
                        [(ngModel)]="filtrosFecha.validityStartDateDesde"
                        [min]="getFechaMin('validity')"
                        [max]="getFechaMax('validity')" >
                      <mat-datepicker-toggle matSuffix [for]="pickerVigenciaDesde"></mat-datepicker-toggle>
                      <mat-datepicker #pickerVigenciaDesde></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="campo-fecha">
                      <mat-label>Hasta</mat-label>
                      <input matInput [matDatepicker]="pickerVigenciaHasta" 
                        [(ngModel)]="filtrosFecha.validityStartDateHasta"
                        [min]="getFechaMin('validity')"
                        [max]="getFechaMax('validity')">
                      <mat-datepicker-toggle matSuffix [for]="pickerVigenciaHasta"></mat-datepicker-toggle>
                      <mat-datepicker #pickerVigenciaHasta></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>

                <!-- 📅 Desembolso -->
                <div class="bloque-control">
                  <label class="bloque-label">F. Desembolso</label>
                  <div class="bloque-campos">
                    <mat-form-field appearance="outline" class="campo-fecha">
                      <mat-label>Desde</mat-label>
                      <input matInput [matDatepicker]="pickerDesembolsoDesde" 
                        [(ngModel)]="filtrosFecha.disbursementDateDesde"
                        [min]="getFechaMin('disbursement')"
                        [max]="getFechaMax('disbursement')">
                      <mat-datepicker-toggle matSuffix [for]="pickerDesembolsoDesde"></mat-datepicker-toggle>
                      <mat-datepicker #pickerDesembolsoDesde></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="campo-fecha">
                      <mat-label>Hasta</mat-label>
                      <input matInput [matDatepicker]="pickerDesembolsoHasta" 
                        [(ngModel)]="filtrosFecha.disbursementDateHasta"
                        [min]="getFechaMin('disbursement')"
                        [max]="getFechaMax('disbursement')" >
                      <mat-datepicker-toggle matSuffix [for]="pickerDesembolsoHasta"></mat-datepicker-toggle>
                      <mat-datepicker #pickerDesembolsoHasta></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>

                <!-- 📅 Vencimiento -->
                <div class="bloque-control">
                  <label class="bloque-label">F. Vencimiento</label>
                  <div class="bloque-campos">
                    <mat-form-field appearance="outline" class="campo-fecha">
                      <mat-label>Desde</mat-label>
                      <input matInput [matDatepicker]="pickerVencimientoDesde" 
                        [(ngModel)]="filtrosFecha.maturityDateDesde"
                        [min]="getFechaMin('maturity')"
                        [max]="getFechaMax('maturity')">
                      <mat-datepicker-toggle matSuffix [for]="pickerVencimientoDesde"></mat-datepicker-toggle>
                      <mat-datepicker #pickerVencimientoDesde></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="campo-fecha">
                      <mat-label>Hasta</mat-label>
                      <input matInput [matDatepicker]="pickerVencimientoHasta" 
                        [(ngModel)]="filtrosFecha.maturityDateHasta"
                        [min]="getFechaMin('maturity')"
                        [max]="getFechaMax('maturity')">
                      <mat-datepicker-toggle matSuffix [for]="pickerVencimientoHasta"></mat-datepicker-toggle>
                      <mat-datepicker #pickerVencimientoHasta></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>

              </div>

              <!-- ➕ Botón Nuevo en segunda fila -->
              <div class="fila-botones">
                <!-- 🔎 Buscar + 🧹 Limpiar filtros -->
                <div class="botones-izquierda">
                  <button mat-raised-button class="btn btn-green" type="button"
                    (click)="filtrarTabla()"
                    style="display: flex; align-items: center; gap: 5px; height: 36px;">
                    <mat-icon>search</mat-icon> Buscar
                  </button>

                  <button mat-raised-button class="btn btn-green" type="button" (click)="limpiarFiltrosFecha()"
                    [disabled]="!hayFiltrosDeFecha()">
                    <mat-icon>clear</mat-icon> Limpiar filtros
                  </button>
                </div>

                <!-- ➕ Nuevo -->
                <div class="boton-derecha">
                  <button mat-raised-button class="btn btn-green" type="button"
                    (click)="abrirModal(RegistrarIntercompanyForm, objetoInitPadre, 'nuevo')"
                    style="display: flex; align-items: center; gap: 5px; height: 36px;">
                    <mat-icon>add</mat-icon> Nuevo
                  </button>
                </div>
              </div>

            </div>
            

            <div style="width:100%; height:130%">
              <div class="scroll-container" style="width:100%;">
                <table mat-table [dataSource]="dataSource" #dsSort="matSort" style="width:100%" matSort
                  matSortActive="created" matSortDisableClear matSortDirection="desc">

                  <ng-container matColumnDef="claseProducto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clase de Producto </th>
                    <td mat-cell *matCellDef="let element"> {{getProductClassDescription(element.productClassId)}} </td>
                  </ng-container>

                  <ng-container matColumnDef="productType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Préstamo </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de <br> Préstamo </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container class="border-bottom-0" matColumnDef="subsidiaryDebtorName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <mat-form-field>
                        <mat-label style="color:white">Subsidiaria</mat-label>
                        <mat-select  (selectionChange)="seleccionarFiltro('subsidiaryDebtorName')"
                          [(ngModel)]="filtrosSeleccionados.subsidiaryDebtorName" multiple>
                          <mat-option *ngFor="let item of filtros.subsidiaryDebtorName"
                            [value]="item">{{item}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.subsidiaryDebtorName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="subsidiaryCreditorName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <mat-form-field>
                        <mat-label style="color:white">Nombre de Acreedor</mat-label>
                        <mat-select multiple [(ngModel)]="filtrosSeleccionados.subsidiaryCreditorName"
                          (selectionChange)="seleccionarFiltro('subsidiaryCreditorName')">
                          <mat-option *ngFor="let item of filtros.subsidiaryCreditorName"
                            [value]="item">{{item}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let e">{{ e.subsidiaryCreditorName }}</td>
                  </ng-container>

                  <ng-container matColumnDef="validityStartDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha <br> Inicio Vigencia </th>
                    <td mat-cell *matCellDef="let element"> {{formatDate(element.validityStartDate)}} </td>
                  </ng-container>

                  <ng-container matColumnDef="disbursementDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha <br> Desembolso </th>
                    <td mat-cell *matCellDef="let element"> {{formatDate(element.disbursementDate)}} </td>
                  </ng-container>

                  <ng-container matColumnDef="interestStartDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha <br> Inicio Intereses </th>
                    <td mat-cell *matCellDef="let element"> {{formatDate(element.interestStartDate)}} </td>
                  </ng-container>

                  <ng-container matColumnDef="maturityDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha <br> Vencimiento </th>
                    <td mat-cell *matCellDef="let element"> {{formatDate(element.maturityDate)}} </td>
                  </ng-container>

                  <ng-container matColumnDef="currencyId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <mat-form-field>
                        <mat-label style="color:white">Moneda</mat-label>
                        <mat-select multiple [(ngModel)]="filtrosSeleccionados.currencyId"
                          (selectionChange)="seleccionarFiltro('currencyId')">
                          <mat-option *ngFor="let item of filtros.currencyId" [value]="item">{{item}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let e">{{ e.currencyId }}</td>
                  </ng-container>

                  <ng-container matColumnDef="nominal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nominal </th>
                    <td mat-cell *matCellDef="let element"> {{element.nominal | number:'1.2-2'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="loanRateExpressionTypes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expresion de Tasa </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="rateClassificationId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Tasa </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="referenceRate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tasa Referencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.referenceRate || '-' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="termSofrAdj">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ajuste de Tasa </th>
                    <td mat-cell *matCellDef="let element"> {{element.termSofrAdj || '-' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="applicableMargin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Margen Aplicable </th>
                    <td mat-cell *matCellDef="let element"> {{element.applicableMargin || '-' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="otherRateParams">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Otros Ajustes </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="fixedRatePercentage">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tasa (%) </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="loanAmortizationTypes" > 
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de <br> Amortizacion </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="installmentPayable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuota por Pagar </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="installmentPaymentDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de <br> Pago de Cuota </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="interestAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto de <br> Interés </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="amortizationAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto de <br> Amortizacion </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="installmentAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto de <br> Cuota </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  

                  <!--ng-container matColumnDef="amortizationRate"> 
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tasa Amortización </th>
                    <td mat-cell *matCellDef="let element"> {{element.amortizationRate}}% </td>
                  </ng-container-->

                  <ng-container matColumnDef="periodsName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <mat-form-field>
                        <mat-label style="color:white">Periodicidad</mat-label>
                        <mat-select multiple [(ngModel)]="filtrosSeleccionados.periodsName"
                          (selectionChange)="seleccionarFiltro('periodsName')">
                          <mat-option *ngFor="let item of filtros.periodsName" [value]="item">{{item}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let e">{{ e.periodsName }}</td>
                  </ng-container>

                  
                  <!--ng-container matColumnDef="loanTypeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <mat-form-field>
                        <mat-label style="color:white">Tipo de Préstamo</mat-label>
                        <mat-select multiple [(ngModel)]="filtrosSeleccionados.loanTypeName"
                          (selectionChange)="seleccionarFiltro('loanTypeName')">
                          <mat-option *ngFor="let item of filtros.loanTypeName" [value]="item">{{item}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let e">{{ e.loanTypeName }}</td>
                  </ng-container-->

                  

                  <!--ng-container matColumnDef="amortizationStartPayment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuota Amortización </th>
                    <td mat-cell *matCellDef="let element"> {{element.amortizationStartPayment}} </td>
                  </ng-container-->

                  

                  <!--ng-container matColumnDef="rateClassificationName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <mat-form-field>
                        <mat-label style="color:white">Clasificación Tasa</mat-label>
                        <mat-select multiple [(ngModel)]="filtrosSeleccionados.rateClassificationName"
                          (selectionChange)="seleccionarFiltro('rateClassificationName')">
                          <mat-option *ngFor="let item of filtros.rateClassificationName"
                            [value]="item">{{item}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let e">{{ e.rateClassificationName }}</td>
                  </ng-container-->

                  

                  

                  

                  <!--ng-container matColumnDef="rateTypeId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <mat-form-field>
                        <mat-label style="color:white">Tipo Plazo</mat-label>
                        <mat-select multiple [(ngModel)]="filtrosSeleccionados.rateTypeId"
                          (selectionChange)="seleccionarFiltro('rateTypeId')">
                          <mat-option *ngFor="let item of filtros.rateTypeId" [value]="item">{{item}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let e">{{ e.rateTypeId }}</td>
                  </ng-container-->

                  <ng-container matColumnDef="operationTrm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TRM Operación </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.operationTrm ? (element.operationTrm | number:'1.2-6') : '-'}}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                    style="text-align: center; vertical-align: middle;"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    style="text-align: center; vertical-align: middle;" (contextmenu)="onContextMenu($event, row)">
                  </tr>

                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="20" style="text-align: center; padding: 20px;">
                      No se encontraron registros de deuda
                    </td>
                  </tr>

                </table>
              </div>
            </div>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="abrirModal(EditarIntercompanyForm, item)">Editar</button>
    <button mat-menu-item (click)="abrirModal(VerCronogramaForm, item, 'cronograma')">Ver Cronograma</button>
  </ng-template>
</mat-menu>

<ng-template #EditarIntercompanyForm let-modal [style.width.px]="modalWidth">
  <app-registro-deuda [visible]="myModal" (close)="cerrarModal($event)" [objForm]="objetoInitPadre"
    [objIntercompany]="objIntecompanyEditar" [modo]="'editar'">
  </app-registro-deuda>
</ng-template>

<ng-template #RegistrarIntercompanyForm let-modal [style.width.px]="modalWidth">
  <app-registro-deuda [visible]="myModal" (close)="cerrarModal($event)" [objForm]="objetoInitPadre"
    [objIntercompany]="objIntecompanyRegistrar" [modo]="'registrar'">
  </app-registro-deuda>
</ng-template>

<ng-template #VerCronogramaForm let-modal [style.width.px]="modalWidth">
  <app-cronograma [visible]="myModal" [data]="objetoInitPadre" (close)="cerrarModal($event)" [objForm]="objetoInitPadre"
    [objIntercompany]="objIntecompany">
  </app-cronograma>
</ng-template>