<div id="myModal" tabindex="-1" data-keyboard="false" role="dialog">
    
    <div role="document" class="msg_card_body" style=" width: 100%;">
      <div class="modal-header">
        <table style=" width: 100%;">
          <tr style="width:100%">
            <td style="text-align:left;  padding: 0% 0% 0.5% 1%">
              <h3 class="modal-title">Cuponera</h3>
            </td>
            <td style="text-align:right;  padding-right:1.3% ">
              <button type="button" class="close" aria-label="Close" (click)="cerrar()">
                <mat-icon>close</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="row" style=" width: 100%;">
        <div class="card-body" style="padding-bottom: 5px; padding-top: 12px;">
          <div class="table-responsive">
            <div class="tabla-table-container">
              <div class="scroll-container" style="width:100%;">
                <table mat-table  style="width:100%" [dataSource]="dsCuponera">
                
                  <ng-container  matColumnDef="start_date">
                    <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
                    <td mat-cell *matCellDef="let element">{{element.start_date.toString().slice(6,8)}}/{{element.start_date.toString().slice(4,6)}}/{{element.start_date.toString().slice(0,4)}}</td>
                  </ng-container>

                  <ng-container matColumnDef="end_date">
                    <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
                    <td mat-cell *matCellDef="let element"> {{element.end_date.toString().slice(6,8)}}/{{element.end_date.toString().slice(4,6)}}/{{element.end_date.toString().slice(0,4)}} </td>
                  </ng-container>

                  <ng-container matColumnDef="coupon">
                    <th mat-header-cell *matHeaderCellDef> Interés </th>
                    <td mat-cell *matCellDef="let element"> {{element.coupon | number}} </td>
                  </ng-container>

                  <ng-container matColumnDef="amortization">
                    <th mat-header-cell *matHeaderCellDef> Saldo a Pagar </th>
                    <td mat-cell *matCellDef="let element"> {{element.amortization | number}} </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true" style="text-align: center; vertical-align: middle;"></tr>
                  <tr class="tbody" style="text-align: center; vertical-align: middle;" mat-row *matRowDef="let element columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="card-footer">
      <div style="text-align: right;">
          <button class="btn btn-green" style="height: 100%;" type="submit" (click)="registrar()">
              Registrar
          </button>
      </div>
  </div>
</div>