.ion-checkmark-circled{
    color:rgb(75, 130, 45);
}

.ion-close-circled{
    color:rgb(200, 15, 30);
}

.btn-primary:disabled {
    color: white;
    background-color: #4b822d;
    border-color: #4b822d;
}