<div role="document" class="msg_card_body" style=" width: 100%;">
  <div class="modal-header">
    <table style=" width: 100%;">
      <tr style="width:100%">
        <td style="text-align:left;  padding: 0% 0% 0.5% 1%">
          <h3 class="modal-title">{{ modo == 'editar' ? 'Editar' : 'Registro de' }} Deuda <span
              *ngIf="modo == 'editar'"> {{ objForm?.id }} </span></h3>
        </td>
        <td style="text-align:right;  padding-right:1.3% ">
          <button type="button" class="close" aria-label="Close" (click)="cerrar()">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row row-deck">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div>
          <div class="card-body">
            <div style="width:100%; height:130%">
              <div class="scroll-container" style="width:100%;">

                <form [formGroup]="debtForm">
                    <!-- Cabecera -->
                    <div class="form-grid">
                      <div class="form-item">
                        <label>Clase de Producto*</label>
                        <ng-select [items]="listProductClasses" bindLabel="name" bindValue="codigo"
                            formControlName="idClaseProducto" (change)="onTipoOCChange($event)">
                        </ng-select>
                      </div>

                      <div class="form-item">
                        <label>Tipo de Préstamo*</label>
                        <ng-select [items]="loanTypes" bindLabel="name" bindValue="id"
                            formControlName="loanTypeId" (change)="onSelectLoanType($event)">
                        </ng-select>
                      </div>
                    </div>

                    <hr class="section-divider">

                    <div class="form-grid">
                      
                      <div class="form-item">
                        <label>{{ ['IPC','IPL'].includes(debtForm.get('idClaseProducto')?.value) ? 'Deudor*' : 'Sociedad*' }}</label>
                        <ng-select [items]="subsidiaries" bindLabel="name" bindValue="id"
                                  formControlName="subsidiaryDebtorId" (change)="onSelectDeudor($event)">
                        </ng-select>
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('subsidiaryCreditorId')">
                        <label>Nombre de acreedor*</label>
                        <ng-select [items]="subsidiaries" bindLabel="name" bindValue="id"
                                  formControlName="subsidiaryCreditorId" (change)="onSelectAcreedor($event)">
                        </ng-select>
                      </div>

                      <div class="form-item">
                        <label>Fecha de inicio validez*</label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="pickerInicioValidez" formControlName="validityStartDate">
                          <mat-datepicker-toggle matSuffix [for]="pickerInicioValidez"></mat-datepicker-toggle>
                          <mat-datepicker #pickerInicioValidez></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('disbursementDate')">
                        <label>Fecha de desembolso*</label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="pickerDesembolso" formControlName="disbursementDate">
                          <mat-datepicker-toggle matSuffix [for]="pickerDesembolso"></mat-datepicker-toggle>
                          <mat-datepicker #pickerDesembolso></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('interestStartDate')">
                        <label>Fecha inicio pago intereses*</label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="pickerInicioIntereses" formControlName="interestStartDate">
                          <mat-datepicker-toggle matSuffix [for]="pickerInicioIntereses"></mat-datepicker-toggle>
                          <mat-datepicker #pickerInicioIntereses></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('fechai')">
                        <label>Fecha de inicio amortización*</label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="pickerInicioAmortizacion" formControlName="fechai">
                          <mat-datepicker-toggle matSuffix [for]="pickerInicioAmortizacion"></mat-datepicker-toggle>
                          <mat-datepicker #pickerInicioAmortizacion></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('fechaaceptacion')">
                        <label>Fecha de Aceptación*</label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="pickerAceptacion" formControlName="fechaaceptacion">
                          <mat-datepicker-toggle matSuffix [for]="pickerAceptacion"></mat-datepicker-toggle>
                          <mat-datepicker #pickerAceptacion></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class="form-item">
                        <label>Fecha de vencimiento*</label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="pickerVencimiento" formControlName="maturityDate">
                          <mat-datepicker-toggle matSuffix [for]="pickerVencimiento"></mat-datepicker-toggle>
                          <mat-datepicker #pickerVencimiento></mat-datepicker>
                        </mat-form-field>
                      </div>


                      <div class="form-item">
                        <label>Moneda*</label>
                        <ng-select [items]="currencies" bindLabel="name" bindValue="id"
                                  formControlName="currencyId" (change)="onSelectCurrency($event)">
                        </ng-select>
                      </div>

                      <div class="form-item">
                        <label>Nominal*</label>
                        <input class="redondeado" type="text" formControlName="nominal" (input)="formatearValorNumeric($event, true)">
                      </div>

                      <div class="form-item">
                        <label>Tipo de amortización*</label>
                        <ng-select [items]="loanAmortizationTypes" bindLabel="name" bindValue="id"
                                  formControlName="tipoa" (change)="onAmortizationTypeChange($event)">
                        </ng-select>
                      </div>

                      <div class="form-item">
                        <label>Tipo de Expresión de Tasa*</label>
                        <ng-select [items]="loanRateExpressionTypes" bindLabel="name" bindValue="id"
                                  formControlName="tipoe">
                        </ng-select>
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('portes')">
                        <label>Portes</label>
                        <input class="redondeado" type="text" formControlName="amortizationRate" (input)="formatearValor($event, false)">
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('precio')">
                        <label>Precio</label>
                        <input class="redondeado" type="text" formControlName="precio" (input)="formatearValor($event, false)">
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('amortizationRate')">
                        <label>Tasa de amortización (%)</label>
                        <input class="redondeado" type="text" formControlName="amortizationRate" (input)="formatearValor($event, false, 'porcentaje')">
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('amortizationStartPayment')">
                        <label># Cuota inicio amortización</label>
                        <input class="redondeado" type="text" formControlName="amortizationStartPayment" (input)="formatearValor($event, false)">
                      </div>

                      <!-- Checkbox: Aplicar excepción -->
                      <div class="form-item" *ngIf="mostrarCampo('applyAmortizationException')">
                        <label>Excepción tasa amortización</label>
                       
                          <mat-checkbox formControlName="applyAmortizationException">
                            Aplicar excepción
                          </mat-checkbox>
                       
                      </div>

                      <!-- Botón: Generar excepción -->
                      <div class="form-item" *ngIf="debtForm.get('applyAmortizationException')?.value">
                        <label style="color: white;"> . </label>
                          <button mat-raised-button class="btn btn-secondary btn-rojo"
                                  (click)="generarExcepcion()">
                            Generar Excepción
                          </button>
                        
                      </div>


                      <!--div class="form-item" *ngIf="mostrarCampo('applyAmortizationException')">
                        <label>Excepción tasa amortización</label>
                        <div style="display: flex; align-items: center; gap: 16px;">
                          <mat-checkbox formControlName="applyAmortizationException">
                            Aplicar excepción
                          </mat-checkbox>

                          <button mat-raised-button class="btn btn-secondary btn-rojo"
                                  *ngIf="debtForm.get('applyAmortizationException')?.value"
                                  (click)="generarExcepcion()">
                            Generar Excepción
                          </button>
                        </div>
                      </div-->
                      
                      <div class="form-item" *ngIf="mostrarCampo('periodsId')">
                        <label>Periodicidad de pagos*</label>
                        <ng-select [items]="periods" bindLabel="name" bindValue="id" formControlName="periodsId">
                        </ng-select>
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('rateClassificationId')">
                        <label>Tipo de Tasa*</label>
                        <ng-select [items]="rateClassifications" bindLabel="name" bindValue="id"
                                  formControlName="rateClassificationId" (change)="onRateClassificationChange($event)">
                        </ng-select>
                      </div>



                      <!-- Porcentaje fijo -->
                      <div class="form-item" *ngIf="mostrarCampo('fixedRatePercentage')">
                        <label>Porcentaje*</label>
                        <input class="redondeado" type="text" formControlName="fixedRatePercentage" (input)="formatearValor($event, false, 'porcentaje')">
                      </div>

                      <!-- Tasa variable -->
                      <div class="form-item" *ngIf="mostrarCampo('referenceRate')">
                        <label>Tasa de Referencia*</label>
                        <input class="redondeado" type="text" formControlName="referenceRate">
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('termSofrAdj')">
                        <label>Term SOFR Adj*</label>
                        <input class="redondeado" type="text" formControlName="termSofrAdj" (input)="formatearValor($event, false, 'porcentaje')">
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('applicableMargin')">
                        <label>Applicable Margin*</label>
                        <input class="redondeado" type="text" formControlName="applicableMargin" (input)="formatearValor($event, false)">
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('otherRateParams')">
                        <label>Otros</label>
                        <input class="redondeado" type="text" formControlName="otherRateParams" (input)="formatearValor($event, false)">
                      </div>

                      <!-- Prepago -->
                      <!--div class="form-item" *ngIf="mostrarCampo('prepaymentDate')">
                        <label>Fecha de Prepago*</label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="pickerPrepago" formControlName="prepaymentDate">
                          <mat-datepicker-toggle matSuffix [for]="pickerPrepago"></mat-datepicker-toggle>
                          <mat-datepicker #pickerPrepago></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('prepaymentAmount')">
                        <label>Monto de prepago</label>
                        <input class="redondeado" type="text" formControlName="prepaymentAmount" (input)="formatearValor($event, false)">
                      </div>

                      <div class="form-item" *ngIf="mostrarCampo('prepaymentInstallmentNumber')">
                        <label>Nro. Pago</label>
                        <input class="redondeado" type="text" formControlName="prepaymentInstallmentNumber">
                      </div-->

                    </div>

                    <hr class="section-divider">
                    <div style="font-weight: bold; padding: 8px 0;">
                    Campos Adicionales
                    </div>


                    <!-- Seccion 3 -->
                    <div class="form-grid">
                    <div class="form-item">
                      <label>Operación (TRM)*</label>
                      <input class="redondeado" type="text" formControlName="operationTrm" (input)="formatearValor($event, false)">
                    </div>

                    <div class="form-item">
                      <label>Basis*</label>
                      <ng-select [items]="basisOptions" bindLabel="name" bindValue="id" formControlName="basisId">
                      </ng-select>
                    </div>

                    <div class="form-item">
                      <label>Tasa nominal/efectiva*</label>
                      <ng-select [items]="listTasaNominal" bindLabel="nombre" bindValue="codigo" formControlName="rateTypeId">
                      </ng-select>
                    </div>

                    <div class="form-item">
                      <label>Forma de amortización*</label>
                      <ng-select [items]="amortizationMethods" bindLabel="name" bindValue="id" formControlName="amortizationMethodId">
                      </ng-select>
                    </div>

                    <div class="form-item">
                      <label>Tipo de redondeo*</label>
                      <ng-select [items]="roundingTypes" bindLabel="name" bindValue="id" formControlName="roundingTypeId">
                      </ng-select>
                    </div>

                    <div class="form-item">
                      <label>Periodicidad (estructura de intereses)*</label>
                      <ng-select [items]="rateTypeOptions" bindLabel="nombre" bindValue="codigo" formControlName="periodicidadIntereses">
                      </ng-select>
                    </div>

                    <div class="form-item">
                      <label>Portafolio</label>
                      <input class="redondeado" type="text" formControlName="portfolio">
                    </div>

                    <div class="form-item">
                      <label>Proyecto</label>
                      <input class="redondeado" type="text" formControlName="project">
                    </div>

                    <div class="form-item">
                      <label>Asignación</label>
                      <input class="redondeado" type="text" formControlName="assignment">
                    </div>

                    <div class="form-item">
                      <label>Referencia interna</label>
                      <input class="redondeado" type="text" formControlName="internalReference">
                    </div>

                    <div class="form-item">
                      <label>Características</label>
                      <input class="redondeado" type="text" formControlName="features">
                    </div>

                    </div>
                </form>
              </div> 

              <div class="card-footer">
                <div style="text-align: right;">
                  <button class="btn btn-secondary btn-rojo" type="button" (click)="clearForm()">
                    Limpiar
                  </button>
                  <button class="btn btn-green" style="height: 100%;" type="submit" (click)="generateSchedule()">
                    {{ modo == 'editar' ? 'Editar' : 'Registrar' }} Deuda
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>